.boxed {
  border: 1px solid blue ;
  border-width: 5px;
  width:1050px;
  margin-left: 200px;
  height:750px;
}
.h1
{

margin-left: 75px;
margin-top: 10px;
font-stretch: bold;
color:#000080;
}

.h2
{
	margin-left: 75px;
	color:#000080;
	margin-top: 30px;

}

.cup {
  display: block;
margin-left: 250px;
margin-top: 30px;
  width: 4.4rem;
  height: 4.4rem;
  
  background-clip: 20%;
  border-color:  5px black;
  border-radius: 0.2rem 0.2rem 1.5rem 1.5rem;
  background-color: #5abcd8;
  


 // Handle 
  &:before {
    content: '';
    border-radius: 5rem;
    border: 0.8rem solid #fff;
    height: 1rem;
    width: 1.5rem;
    position: absolute;
    right: -1.5rem;
    display: block;
    position: absolute;
    z-index: -1;
  }
  
  // white vertical top layer
  &:after {
    content: '';
    background: #fff;
    display: block;
    height: inherit;
    width: 4rem;
    margin: 0 auto;
    border-radius: inherit;

  }
  
}
  .bar1
  {
  	 width: 250px;
      height: 18px;
      margin-left: 75px;
     background-image: linear-gradient(to top, #696969,#C0C0C0);
     display: inline-block;
  }

.bar2
  {
  	 width: 250px;
      height: 18px;
      margin-left: 175px;
     background-image: linear-gradient(to top, #696969,#C0C0C0);
   display: inline-block;
  }
.mudsample {
    width:75px ;
	height:150px;
	margin-left: 120px;
    border: 2px ;
    padding: 20px;
    border-radius:3.7em 2.6em  /9em 12em ;
    background-color: #8B4513;
   <!-- border-bottom: 50px solid #8B4513;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;-->
  
 
}
.hammer {
	position: relative;
	width: 4.063em;
	height: 15.313em;
	margin-left: 875px;

	display: inline-block;
	
}
.hammer:before, .hammer:after {
	display:inline-block;
	position: absolute;
	content: "";
	background-image:radial-gradient(
      #696969,
      #4c4c4c
    );
	
	left: 1.375em;
	height: 2.5em;
	width: 1em;
}
.hammer:before {
	height: 0.313em;
	top: 2.5em;
	border-radius: 0.313em;
	z-index: 1;
}
.hammer:after {
	top:0em;
	height: 12.125em;
	border-radius: 0 0 0.313em 0.313em;
}
.hammer .head {
	width: 3.750em;
	height: 2.250em;
	background-image:radial-gradient(
      #696969,
      #4c4c4c
    );
  margin-top:9.2em;
	
    display:inline-block;
	position: relative;
  z-index:1;
}
.hammer .head:before, .hammer .head:after {
  content: "";
  position: absolute;
  height: 1.625em;
}
.hammer .head:before {
  border-top: 0.313em solid transparent;
  border-bottom: 0.313em solid transparent;
  border-right: 0.313em solid #4c4c4c;
  left: -0.313em;
}
.hammer .head:after {
  border-top: 0.313em solid transparent;
  border-bottom: 0.313em solid transparent;
  border-left: 0.313em solid #4c4c4c;
  right: -0.313em;
}

.rectbottom
{
       width: 250px;
      height: 45px;
      margin-left: 500px;
      background-color: #000;
     display: inline-block;
}

.sqar
{
	 width: 200px;
      height: 100px;
      background: red;
      margin-left: 800px;
      display: inline-block;

}